<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      誰でも簡単に売ったり買ったりを楽しめる
    </h2>
    <p class='service-title'>
      魚介専門ネット市場
    </p>
    <p class='service-explain'>
      
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      こんなお悩みありませんか？
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "ryousi2.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          漁師のMさん
        </h3>
        <p class='feature-list-description'>
          味は同じなのに少量だったり規格外で市場に出せなくて
          処分しないといけないことがあります。<br>
          それを誰かの役に立てれる環境があれば。。。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "turi2.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          釣り好きのTさん
        </h3>
        <p class='feature-list-description'>
          趣味の釣りで釣った魚の処理に困ることがあります。<br>
          誰か買ってくれる人がいればムダにならず、かつ、釣りへの軍資金にもなるのに。。。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "men2.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          飲食店経営のSさん
        </h3>
        <p class='feature-list-description'>
          納得できる新鮮な魚や貝を毎日手に入れるルートが増やせれば、
          お客様にも喜んでもらえるのだが。。。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shuhu2.jpg", class:"list-pict" %>
        <h3 class='feature-list-text'>
          主婦のKさん
        </h3>
        <p class='feature-list-description'>
          コロナ禍で外出は控えたい。<br>
          そんな時にでも、新鮮で安いお魚が買えればいいのに。。。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <p class='ad-explain'>
      そんな要望を叶えるのが
    </p>
    <p class='ad-explain'>
      日本有数の魚介類専門ネット市場
    </p>
    <h2 class='ad-title'>
      " Seafood Marché "
    </h2>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      商品の出品・購入はかんたん３ステップ
    </h2>
    <h3 class='setumei'>
    出 品 者
    </h3>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "keitai.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>出品する</span>
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけ。<br>
          3分で簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "hassou.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>商品を発送する</span>
        </h3>
        <p class='reason-list-description'>
          商品を梱包して発送しましょう。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "tuuchou.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>売上金を受け取る</span>
        </h3>
        <p class='reason-list-description'>
          指定の口座にお振り込みいたします。
        </p>
      </li>
    </ul>
    <br>
    <br>

    <h3 class='setumei2'>
    購 入 者
    </h3>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "keitai2.jpg", class:"list-pict" %>
        <span class='reason-list-number2'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-red-text'>商品を探す</span>
        </h3>
        <p class='reason-list-description'>
          種類や産地を見て商品を選べます。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "kounyu.jpg", class:"list-pict" %>
        <span class='reason-list-number2'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-red-text'>購入する</span>
        </h3>
        <p class='reason-list-description'>
          購入手数料・決済手数料はかかりません。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "todoku.jpg", class:"list-pict" %>
        <span class='reason-list-number2'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-red-text'>商品が届く</span>
        </h3>
        <p class='reason-list-description'>
          新鮮なお魚をお召し上がりください。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  

  

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>


      <% if @items.present? %>
        <% @items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>

        
              <% if item.order != nil %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>
            

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.title %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br><%= item.shipping_charges.name %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
        
      <% else %>
        
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>